.falsoHeader {
 height: 70px;
 background-color: #333;
}

@media (min-width: 1200px) {
 div.falsoSidenavbar {
  background: #fff;
  min-width: 250px;
  max-width: 250px;
  color: #686a76;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 9;
  height: 500px;
  /*==== Sidebar Header ====*/
  /*==== Sidebar Menu ====*/
  /*==== Shrinked Sidebar ====*/
 }
}


.falsoSidenavbar.oculta {
 width: 27px !important;
}

.falsoSidenavbar.oculta {
 width: 27px !important;
}

.alert-danger {
 color: white;
 background-color: #db2736 !important;
 border-color: #bf111f;
}


.CentrarCol{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.col-center{
 float: none;
 margin: 0 auto;
}

@media (max-width: 400px){
 .CentrarCol{
  width: 90%;
 }
}


.HeaderFijo {
 position:fixed;
 width: 100%;
 height: 50px;
}


